<app-player></app-player>
<ng-template #playercontainer>
</ng-template>

<input type="text"  [(ngModel)]="playerName" >
<input type="button" value="Oyuncu Ekle" (click)="createComponent(playerName)">

<div class="surface">
  <div class="pitch">

      <div class="half">

          <div class="penalty">
              <div class="goal"></div>
              <div class="center"></div>
          </div><!-- penalty -->

      </div><!-- half -->

      <div class="half">

          <div class="penalty">
              <div class="goal"></div>
              <div class="center"></div>
          </div><!-- penalty -->

      </div><!-- half -->

      <div class="center"></div>

  </div><!-- pitch -->
</div>