<app-player></app-player>

<div class="surface">
  <div class="pitch">

      <div class="half">

          <div class="penalty">
              <div class="goal"></div>
              <div class="center"></div>
          </div><!-- penalty -->

      </div><!-- half -->

      <div class="half">

          <div class="penalty">
              <div class="goal"></div>
              <div class="center"></div>
          </div><!-- penalty -->

      </div><!-- half -->

      <div class="center"></div>

  </div><!-- pitch -->
</div>